*{
    margin: 0;
    padding: 0;
}
/* CSS variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
}
/*Navigation Bar:logo and Image*/
#logo{
      margin: 10px 34px;
}
#logo img{
  height:59px;
  margin:3px 6px;
}
/*Navigation Bar :list Styling*/
#navbar{
    position:relative;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    backgroun-color:rgb(179, 36, 36);
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1 ;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display:block;
    padding:3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    display:block;
}
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home ::before{
    content:""
    position:absolute;
    background-color:black;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.89;
}
#home h1{
    color:white;
    text-align: center;
}
/*uti;ity Classes*/
.h-primart{
    font-size: 2.8rem;
    padding:12px;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: brown;
    color:wheat;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 5pc;
    cursor:pointer;
}
/*Service Section*/
#service.box{
    margin:34px;
    display:flex;
}
service .box{
    border: brown;
    padding:34px;
    margin:3px 6px;
    border-radius: 28px;
    background:rgb(211, 190, 190);
}
#service.box img{
    height:160 px;
    margin :auto;
    display:block;
}
/*Client section*/
#client-section{
    heiht: 160px;
}
client-section ::before{
    content: " ";
    position:absolute;
    background:url('../bg.jpg')
    width:100px;
    height:54px;
    z-index:-1;
    opacity:0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Utility Classes*/
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.client-item{
    paddin:34px;
}
.h-secondary{
    font-size: 3rem;
    padding: 12px;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: brown;
    color:wheat;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 5pc;
    cursor:pointer;
}
